
html {
    /* Used for sticky footer */
    position: relative;
    min-height: 90%;
  }
  body {
    padding-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 60px;
     background-color: mediumSeaGreen;
     background-size: 1365px;
     background-image: url("https://lh3.googleusercontent.com/BxEeTZBL0eG-Q5ncsBcZxuk7Eo_DXI1lAyvxUiH2kamlI-HmaZ3g-aW_RMVURFL3hg6xrQF9KnFWo-GlLDwcb-Eh7tL-MEeqtWxGQC4VX_m4PzTZYxb9r_MGVGEgaUm4rfE0ADyOSOQZ19g-UdmTMq1_HGGVhfhOI5mdalBq_2asVOcfzwgszz_swzazZohHUrGi7kKtcaMMTpDQwLwzAutfWhfbGX9gHqK6FqGuWOsJkShDRpJVPGs3TJ8WAaugiI0wbA1KlRhnDLe4RYtuZeYyJdxJgbVeD_gcYTbdaxcXWNqe_l9nCy9_2Ppe0-kf437BXGt0w0gdj0IedzX_T5fCzpor0Y-ozqxNTBNiGcFMrtdbU4ZBOtcTNEWn9BQZNt8H4tTP4B4jsrWmDHLAF0pfzfbAVIrcT-FQfAUJexCtaYcxvr8r9c8tth9tatcVCom1jNt1xsbOKR4scUQ4_HRa9Gd3W4aLZG3XPsuFJJi5TctlT4dGdSA5MGYb6-j30HsIG1MUp4nOpoJ9L5JFVvH9li9N6EHJiL4vlM-5l-JyXzSWfXOU3XcHdvesCPFUtbiBO7PnqwQt2cvO6GyZOlDZjkpEvbn82pam3mmqDy2IDv0I01-5d2dVJi_a8vI=w1113-h626-no"); 
     border-radius: 50%; 
     background-position: right top;
    }
    .col-sm-3 {
        text-align: justify;
    }
  .videowrapper iframe {
    height: 500px;
    width: 650px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }
    .column img {
        margin-top: 8px;
        vertical-align: middle;
        
      }
      img{
          width: 200px;
          height: 200px;
      }
      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
    
    .container, .container-fluid {
        border-radius: 5px;
        background-color: ghostwhite;
        padding: 20px;
        opacity: 0.7;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
        .fa-google {
        background: #dd4b39;
        color: white;
        }

        .fa-linkedin {
            background: #007bb5;
            color: white;
          }
          

